@import '../../assets/helper/Helper.scss';

.cardStyle {
    background-color: $color-white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin-top: -8rem;
    width: 20rem;
    z-index: 999;

    .cardContentStyle {
        padding: 1rem 2rem;
        h3 {
            font-size: 32px;
            color: $color-lightblue;
            padding: 3rem 2rem;
            text-align: center;
        }
        p{
            padding: 2rem 3rem;
        }
    }
}