@import '../../assets/helper/Helper.scss';


.headerStyle {
    background-image: url('../../assets/images/headerbackground1.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;

    .logoStyle {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 8rem;
        right: 15vw;

        h1 {
            font-size: 128px;
            font-weight: 400;
            color: $color-lightblue;
            font-family: Jura;

            span {
                color: $color-white;
            }
        }

        p {
            color: $color-white;
            font-size: 16px;
        }
    }
}

@media only screen and (max-width: 110px){
    .headerStyle {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        text-align: center;
        .logoStyle {
            top: 10rem;
            right: 0;
            left: 0;
            h1 {
                font-size: 100px;
                font-weight: 300;
            }
            p{
                font-size: 16px;
            }
        }
    }
}

@media only screen and (max-width: 600px){
    .headerStyle {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        text-align: center;
        .logoStyle {
            top: 10rem;
            right: 0;
            left: 0;
            h1 {
                font-size: 90px;
                font-weight: 300;
            }
            p{
                font-size: 14px;
            }
        }
    }
}

