@import '../assets/helper/Helper.scss';

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-color: $color-white;
    font-family: Inter;

    .cardFlex {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .cardGrid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 2rem;

            @media only screen and (max-width: 1100px) {
                grid-template-columns: 1fr 1fr;
                grid-row-gap: 10rem;
            }

            @media only screen and (max-width: 600px) {
                grid-template-columns: 1fr;
                gap: 10rem;
            }

        }
    }

    .sectionFlex {
        padding: 3rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;


    }

    h2 {
        text-align: center;
        padding: 3rem 0;
        font-size: 48px;
        font-weight: 400;
        font-family: Jura;
        color: $color-lightblue;
    }

    .personFlex {
        display: flex;
        justify-content: center;

        .personGrid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 3rem;
            @media only screen and (max-width: 1100px) {
                grid-template-columns: 1fr 1fr;
            }

            @media only screen and (max-width: 600px) {
                grid-template-columns: 1fr;
            }
        }
    }


    .mapFlex {
        display: flex;
        justify-content: center;
        padding-top: 3rem;
        padding-bottom: 3rem;
        .addressFlex {
            list-style: none;
            display: flex;
            flex-direction: column;
            padding-top: 5rem;
            color: $color-lightblue;
            font-weight: 100;
        }
    }
}